*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --cor-principal: #5ce1e6;
    --cor-secundaria: #cb6ce6;
}
header{
    width: 97vw;
    height: 20%;
    margin-bottom: 50px;
   
}
.nav{
    z-index: 15;
    background-color:  #cc6ce62a;
    box-shadow: 2px 2px 2px #5ce1e6;
}
.fallow{
  
}
.navegaçao > ul{
    margin-top: 3%;
}
.navegaçao > ul > li > a{
    color: white;
    font-weight: bolder;
}

.navegaçao > ul > li > a:hover{
    color: #5ce1e6;
}

.img_fundo{
    background-image: url(../saturno.jpg);
    z-index: 0;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    width: 100%;
    height: 665px;
    
}
.nav_game{
    
    z-index: 11;
    
    position: absolute;
    width: 120px;
    height: 0;
    background-color: white;
    top: 100%;
    left: 55%;
    
    box-shadow: 2px 2px 2px #5ce1e6;
    background-color: #e04495;
    
    overflow: hidden;
    transition: 0.5s;
    
    
}
.nav_game > ul{
    position: absolute;
    
    list-style: none;
}
.nav_game > ul > li{
    margin: 10px;
    cursor: pointer;
}
.nav_game > ul > li > a{
    text-decoration: none;
    
    color: white;
}
.nav_game > ul > li > a:hover{
    color: #5ce1e6;
}
.link_games{
    
    padding: 0px 0px 50px 0;
    cursor: pointer;
    
}
.link_games:hover :last-child{
    opacity: 1;
    height: 150px;
    transition: 0.5s;
}

#noticias_geral{
    position: absolute;
    width: 100%;
    z-index: 10;
    
    padding: 0 150px;
}
.slide_mobile{
   display:  none; 
}
.article{
    z-index: 10;
    width: 100%;
    
    
}
.slide_duo{
    display: flex;
    margin-top: 5%;
    width: 100%;
    
    height: 300px;
}

.slide01{
    
    width: 50%;
    height: 100%;
    margin-right: 10px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.764);
}
.slide01 > img{
    width: 100%;
    height: 100%;
}
.slide02{
    
    width: 50%;
    height: 100%;
    margin-left: 10px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.764);
}
.slide02 > img{
    width: 100%;
    height: 100%;
}

.noticia_game{

    margin-top: 10%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.caixa_game{
    position: relative;
    
    display: flex;
    width: 75%;
    height: 170px;
    
    border-bottom: 1px solid rgba(128, 128, 128, 0.492);
    padding: 10px;
}
.img_game_not{
    position: absolute;
    
    width: 30%;
    height: 90%;
    
    margin-right: 10px;
    border-radius: 5px;
}

.img_game_not > img{
    width: 100%;
    height: 100%;
}
.titulo_not{
    position: relative;
    left: 31%;
    width: 70%;
    height: 100%;
    
    
}
.artigo{
    
    width: 100%;
}
.texto_noticia{
    
    width: 100%;
}
.destaque_principal{
    
    position: relative;
    border: 1px solid black;
    width: 25%;
    height: 500px;
    
    top: 10%;
    left: 80%;
}

.fixo{
    position: fixed;
    border: 1px solid black;
    width: 25%;
    height: 11%;
    
    top: 20px;
    right: 5%;
}
.Playtation, .xbox, .nitendo, .pc{
    margin-top: 10%;
    border-top: 1px solid lightgray;
    height: 100%;
    width: 100%;
    padding: 10px;
    position: relative;
}
.Playtation > h1{
    font-size: 2em;
}
.caixa_playstation{
    
    height: 800px;
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
    
}
.not_paly{
    
    
    width: 48%;
    height: 40%;
    transition: 0.3s;
}
.not_paly > h2{
    margin-top: 10px;
    font-size: 1.2em;
}

.destaque{
    position: absolute;
    left: 70%;
    width: 20%;
    height: 100%;
    border: 1px solid black;
    
    
   
}
.fixa{
    z-index: 10;
    width: 100%;
    height: 13%;
    background-color: #e04495;
    position: sticky;
    top: 20%;
}
.img_not{
    width: 100%;
    background-color: #5ce1e6;
    height: 60%;
}
.img_not > img{
    width: 100%;
    height: 100%;
}
.data{
    margin-top: 20px;
    font-size: 14px;
    
    color: grey;
}
.data > i{
    color: #cb6ce6;
    font-size: 10px;
}
.not_paly:hover{
    cursor: pointer;
    color: #cb6ce6;
}

.xbox > h1{
    font-size: 2em;
}
.nitendo > h1{
    font-size: 2em;
}
.pc > h1{
    font-size: 2em;
}



