*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --cor-principal: #5ce1e6;
    --cor-secundaria: #cb6ce6;
}
header{
    width: 97vw;
    height: 20%;
    margin-bottom: 50px;
   
}
.nav{
    z-index: 15;
    background-color:  #cc6ce62a;
    box-shadow: 2px 2px 2px #5ce1e6;
}
.fallow{
  
}
.navegaçao > ul > li > a{
    color: white;
    font-weight: bolder;
}

.navegaçao > ul > li > a:hover{
    color: #5ce1e6;
}

.img_fundo{
    background-image: url(../saturno.jpg);
    z-index: 0;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    width: 100%;
    height: 665px;
    
}
#noticias_geral{
    position: absolute;
    width: 100%;
    z-index: 10;
    
    padding: 0 150px;
}
.slide_mobile{
   display:  none; 
}
.article{
    z-index: 10;
    width: 100%;
    
    
}
.slide_duo{
    display: flex;
    margin-top: 5%;
    width: 100%;
    
    height: 300px;
}

.slide01{
    
    width: 50%;
    height: 100%;
    margin-right: 10px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.764);
}
.slide01 > img{
    width: 100%;
    height: 100%;
}
.slide02{
    
    width: 50%;
    height: 100%;
    margin-left: 10px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.764);
}
.slide02 > img{
    width: 100%;
    height: 100%;
}

.noticia_game{
    border: 1px solid black;
    margin-top: 10%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.caixa_game{
    position: relative;
    
    display: flex;
    width: 75%;
    height: 170px;
    
    border-bottom: 1px solid rgba(128, 128, 128, 0.492);
    padding: 10px;
}
.img_game_not{
    position: absolute;
    
    width: 30%;
    height: 90%;
    
    margin-right: 10px;
    border-radius: 5px;
}

.img_game_not > img{
    width: 100%;
    height: 100%;
}
.titulo_not{
    position: relative;
    left: 31%;
    width: 70%;
    height: 100%;
    
    
}
.artigo{
    
    width: 100%;
}
.texto_noticia{
    
    width: 100%;
}


