

@media(max-width: 1300px){
    .img_fundo{
        display: none;
         
     }
        
    #noticias_geral{
        position: absolute;
        top: 15%;
        width: 100%;
        z-index: 1;
        
        padding: 0 10px ;
        
    }
    .slide_duo{
        display: none;
    }
    .slide_mobile{
        display: block;
        width: 100%;
        height: 400px;
        overflow: hidden
        
        
    }
    .article{
        
    }
    .caixa_slide_mobile{
        overflow: hidden;
        width: 400%;
        height: 100%;
        display: flex;
    }
    .caixa_slide_mobile > input{
        display: none;
    }
    .banner_mobile{
        
        width: 25%;
        height: 100%;
        padding: 0px 5px;
        transition: 0.5s;
        
    }
    .banner_mobile > img{
        width: 100%;
        height: 100%;
        border-radius: 5px;
        box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.764);
    }
    .noticia_game{
        height: 100% ;
        margin-top: 10%;
        padding: 0 5px;
        border: 1px solid rgba(0, 0, 0, 0.248);
        border-radius: 10px;
        box-shadow: 1px 1px 7px gray;
    }
    .caixa_game{
        height: 20%;
        width: 100%;
        display: flex;
        align-items: center;
    }
    .img_game_not{
        height: 100%;
        width: 40%;
        margin: 0 ;
    }
    .img_game_not > img{
        height: 100%;
    }
    .caixa_game{
        height: 15%;
        margin-top: 10px;
        padding: 10px  0;
        
    }
    .h1{
        font-size: 2.5em;
    }
    .img_game_not{
        position: absolute;
        
        width: 30%;
        height: 90%;
        
        margin-right: 10px;
        border-radius: 5px;
    }
    
    .img_game_not > img{
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
    .titulo_not{
        position: relative;
        left: 31%;
        width: 70%;
        height: 100%;
        
        
    }
    .artigo{
        
        width: 100%;
    }
    .texto_noticia{
        
        width: 100%;
    }
    .data{
        position: absolute;
        right: 15px;
        font-size: 22px;
    }
    .texto_noticia > a >h1{
        width: 100%;
        font-size: 1.7em;
    }
    .texto_noticia > a >p{
        font-size: 1.5em;
    }
    .destaque{
        display: none;
    }
    .caixa_playstation{
        width: 100%;
    }
    .h2_data{
        position: relative;
        
        width: 100%;
    }
    .h2_data > h2{
        font-size: 20px;
    }
    .h2_data > p{
        position: absolute;
        transform: translateY(-100%);
        left: 0%;
        font-size: 16px;
        margin-top: 30px;
    }


}
@media(max-width: 800px){
    .img_fundo{
        display: none;
         
     }
        
    #noticias_geral{
        position: absolute;
        top: 15%;
        width: 100%;
        z-index: 1;
        
        padding: 0 10px ;
        
    }
    .slide_duo{
        display: none;
    }
    .slide_mobile{
        display: block;
        width: 100%;
        height: 300px;
        overflow: hidden
        
        
    }
    .article{
        
    }
    .caixa_slide_mobile{
        overflow: hidden;
        width: 400%;
        height: 100%;
        display: flex;
    }
    .caixa_slide_mobile > input{
        display: none;
    }
    .banner_mobile{
        
        width: 25%;
        height: 100%;
        padding: 0px 5px;
        transition: 0.5s;
        
    }
    .banner_mobile > img{
        width: 100%;
        height: 100%;
        border-radius: 5px;
        box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.764);
    }
    .noticia_game{
        height: 100% ;
        margin-top: 10%;
        padding: 0 5px;
        border: 1px solid rgba(0, 0, 0, 0.248);
        border-radius: 10px;
        box-shadow: 1px 1px 7px gray;
    }
    .caixa_game{
        height: 20%;
        width: 100%;
        display: flex;
        align-items: center;
    }
    .img_game_not{
        height: 100%;
        width: 40%;
        margin: 0 ;
    }
    .img_game_not > img{
        height: 100%;
    }
    .caixa_game{
        height: 15%;
        margin-top: 10px;
        padding: 10px  0;
        
    }
    .h1{
        font-size: 2.5em;
    }
    .img_game_not{
        position: absolute;
        
        width: 30%;
        height: 90%;
        
        margin-right: 10px;
        border-radius: 5px;
    }
    
    .img_game_not > img{
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
    .titulo_not{
        position: relative;
        left: 31%;
        width: 70%;
        height: 100%;
        
        
    }
    .artigo{
        
        width: 100%;
    }
    .texto_noticia{
        
        width: 100%;
    }
    .data{
        position: absolute;
        right: 15px;
        font-size: 16px;
    }
    .texto_noticia > a >h1{
        width: 100%;
        font-size: 22px;
    }
    .texto_noticia > a >p{
        display: none;
    }
    .destaque{
        display: none;
    }
    .Playtation,.xbox,.nitendo,.pc{
        width: 100%;
        padding: 0px;
        height: 100%;
        
    }
    .caixa_playstation{
        width: 100%;
        margin: 0;
        display: block;
        height: 100%;
    
        
    }

    .not_paly{
        display: flex;
        width: 100%;
        height: 170px;
        margin-top: 10px;
        align-items: center;
        
        padding: 0;
        
    }
    .img_not{
        width: 200px;
        height: 150px;
        margin-right: 10px;
        
    }
    .h2_data{
        position: relative;
        
        width: 60%;
    }
    .h2_data > h2{
        font-size: 22px;
    }
    .h2_data > p{
        position: absolute;
        transform: translateY(-100%);
        left: 0%;
        font-size: 17px;
    }

}

@media(max-width: 600px){
    .img_fundo{
        display: none;
         
     }
        
    #noticias_geral{
        position: absolute;
        top: 15%;
        width: 100%;
        z-index: 1;
        
        padding: 0 10px ;
        
    }
    .slide_duo{
        display: none;
    }
    .slide_mobile{
        display: block;
        width: 100%;
        height: 200px;
        overflow: hidden
        
        
    }
    .article{
        
    }
    .caixa_slide_mobile{
        overflow: hidden;
        width: 400%;
        height: 100%;
        display: flex;
    }
    .caixa_slide_mobile > input{
        display: none;
    }
    .banner_mobile{
        
        width: 25%;
        height: 100%;
        padding: 0px 5px;
        transition: 0.5s;
        
    }
    .banner_mobile > img{
        width: 100%;
        height: 100%;
        border-radius: 5px;
        box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.764);
    }
    .noticia_game{
        height: 100%;
        margin-top: 10%;
        padding: 0 5px;
        border: 1px solid rgba(0, 0, 0, 0.248);
        border-radius: 10px;
        box-shadow: 1px 1px 7px gray;
    }
    .caixa_game{
        
        width: 100%;
        display: flex;
        align-items: center;
        
    }
    .img_game_not{
        height: 100%;
        width: 10%;
        margin: 0 ;
    }
    .img_game_not > img{
        height: 100%;
        
    }
    .caixa_game{
        height: 15%;
        margin-top: 10px;
        padding: 10px  0;
        
    }
    .h1{
        font-size: 2em;
    }
    .img_game_not{
        position: absolute;
        
        width: 30%;
        height: 90%;
        
        margin-right: 10px;
        border-radius: 5px;
    }
    
    .img_game_not > img{
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
    .titulo_not{
        position: relative;
        left: 31%;
        width: 70%;
        height: 100%;
        
        
    }
    .artigo{
        
        width: 100%;
    }
    .texto_noticia{
        
        width: 100%;
    }
    .data{
        position: absolute;
        right: 15px;
        font-size: 14px;
    }
    .texto_noticia > a >h1{
        width: 100%;
        font-size: 17px;
    }
    .texto_noticia > a >p{
        
    }
    .destaque{
        display: none;
    }
    .Playtation,.xbox,.nitendo,.pc{
        width: 100%;
        padding: 0px;
        height: 100%;
        
    }
    .caixa_playstation{
        width: 100%;
        margin: 0;
        display: block;
        height: 100%;
    
        
    }

    .not_paly{
        display: flex;
        width: 100%;
        height: 140px;
        margin-top: 10px;
        align-items: center;
        
        padding: 0;
        
    }
    .img_not{
        width: 170px;
        height: 120px;
        margin-right: 10px;
        
    }
    .h2_data{
        position: relative;
        
        width: 60%;
    }
    .h2_data > h2{
        font-size: 18px;
    }
    .h2_data > p{
        position: absolute;
        transform: translateY(-100%);
        left: 0%;
        font-size: 14px;
    }

}
@media(max-width: 480px){
    .img_fundo{
        display: none;
         
     }
        
    #noticias_geral{
        position: absolute;
        top: 15%;
        width: 100%;
        z-index: 1;
        
        padding: 0 10px ;
        
    }
    .slide_duo{
        display: none;
    }
    .slide_mobile{
        display: block;
        width: 100%;
        height: 200px;
        overflow: hidden
        
        
    }
    .article{
        
    }
    .caixa_slide_mobile{
        overflow: hidden;
        width: 400%;
        height: 100%;
        display: flex;
    }
    .caixa_slide_mobile > input{
        display: none;
    }
    .banner_mobile{
        
        width: 25%;
        height: 100%;
        padding: 0px 5px;
        transition: 0.5s;
        
    }
    .banner_mobile > img{
        width: 100%;
        height: 100%;
        border-radius: 5px;
        box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.764);
    }
    .noticia_game{
        height: 100%;
        margin-top: 10%;
        padding: 0 5px;
        border: 1px solid rgba(0, 0, 0, 0.248);
        border-radius: 10px;
        box-shadow: 1px 1px 7px gray;
    }
    .caixa_game{
        width: 100%;
        display: flex;
        align-items: center;
    }
    .img_game_not{
        height: 100%;
        width: 40%;
        margin: 0 ;
    }
    .img_game_not > img{
        height: 100%;
    }
    .caixa_game{
        height: 15%;
        margin-top: 10px;
        padding: 10px  0;
        
    }
    .h1{
        font-size: 2em;
    }
    .img_game_not{
        position: absolute;
        
        width: 30%;
        height: 90%;
        
        margin-right: 10px;
        border-radius: 5px;
    }
    
    .img_game_not > img{
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
    .titulo_not{
        position: relative;
        left: 31%;
        width: 70%;
        height: 100%;
        
        
    }
    .artigo{
        
        width: 100%;
    }
    .texto_noticia{
        
        width: 100%;
    }
    .data{
        position: absolute;
        right: 15px;
        font-size: 10px;
    }
    .texto_noticia > a >h1{
        width: 100%;
        font-size: 12px;
    }
    .texto_noticia > a >p{
        display: none;
    }
    .destaque{
        display: none;
    }
    .Playtation,.xbox,.nitendo,.pc{
        width: 100%;
        padding: 0px;
        height: 100%;
        
    }
    .caixa_playstation{
        width: 100%;
        margin: 0;
        display: block;
        height: 100%;
    
        
    }

    .not_paly{
        display: flex;
        width: 100%;
        height: 100px;
        margin-top: 10px;
        align-items: center;
        justify-content: space-between;
        padding: 0;
        
    }
    .img_not{
        width: 130px;
        height: 80px;
        
    }
    .h2_data{
        position: relative;
        
        width: 60%;
    }
    .h2_data > h2{
        font-size: 13px;
    }
    .h2_data > p{
        position: absolute;
        transform: translateY(-100%);
        left: 0%;
        font-size: 12px;
        
        margin-top: 20px;
    }
    

}
@media(max-width: 390px){
    .img_fundo{
        display: none;
         
     }
        
    #noticias_geral{
        position: absolute;
        top: 15%;
        width: 100%;
        z-index: 1;
        
        padding: 0 10px ;
        
    }
    .slide_duo{
        display: none;
    }
    .slide_mobile{
        display: block;
        width: 100%;
        height: 120px;
        overflow: hidden
        
        
    }
    .article{
        
    }
    .caixa_slide_mobile{
        overflow: hidden;
        width: 400%;
        height: 100%;
        display: flex;
    }
    .caixa_slide_mobile > input{
        display: none;
    }
    .banner_mobile{
        
        width: 25%;
        height: 100%;
        padding: 0px 5px;
        transition: 0.5s;
        
    }
    .banner_mobile > img{
        width: 100%;
        height: 100%;
        border-radius: 5px;
        box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.764);
    }
    .noticia_game{
        height: 100%;
        margin-top: 10%;
        padding: 0 5px;
        border: 1px solid rgba(0, 0, 0, 0.248);
        border-radius: 10px;
        box-shadow: 1px 1px 7px gray;
    }
    .caixa_game{
        width: 100%;
        display: flex;
        align-items: center;
    }
    .img_game_not{
        height: 100%;
        width: 40%;
        margin: 0 ;
    }
    .img_game_not > img{
        height: 100%;
    }
    .caixa_game{
        height: 15%;
        margin-top: 10px;
        padding: 10px  0;
        
    }
    .h1{
        font-size: 2em;
    }
    .img_game_not{
        position: absolute;
        
        width: 30%;
        height: 90%;
        
        margin-right: 10px;
        border-radius: 5px;
    }
    
    .img_game_not > img{
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
    .titulo_not{
        position: relative;
        left: 31%;
        width: 70%;
        height: 100%;
        
        
    }
    .artigo{
        
        width: 100%;
    }
    .texto_noticia{
        
        width: 100%;
    }
    .data{
        position: absolute;
        right: 15px;
        font-size: 10px;
    }
    .texto_noticia > a >h1{
        width: 100%;
        font-size: 12px;
    }
    .texto_noticia > a >p{
        display: none;
    }
    .destaque{
        display: none;
    }
    .Playtation,.xbox,.nitendo,.pc{
        width: 100%;
        padding: 0px;
        height: 100%;
        
    }
    .caixa_playstation{
        width: 100%;
        margin: 0;
        display: block;
        height: 100%;
    
        
    }

    .not_paly{
        display: flex;
        width: 100%;
        height: 100px;
        margin-top: 10px;
        align-items: center;
        justify-content: space-between;
        padding: 0;
        
    }
    .img_not{
        width: 100px;
        height: 70px;
        
    }
    .h2_data{
        position: relative;
        
        width: 60%;
    }
    .h2_data > h2{
        font-size: 12px;
    }
    .h2_data > p{
        position: absolute;
        transform: translateY(-100%);
        left: 0%;
        font-size: 12px;
        margin-top: 17px;
    }


}

@media(max-width: 320px){
    .img_fundo{
        display: none;
         
     }
        
    #noticias_geral{
        position: absolute;
        top: 15%;
        width: 100%;
        z-index: 1;
        
        padding: 0 10px ;
        
    }
    .slide_duo{
        display: none;
    }
    .slide_mobile{
        display: block;
        width: 100%;
        height: 120px;
        overflow: hidden
        
        
    }
    .article{
        
    }
    .caixa_slide_mobile{
        overflow: hidden;
        width: 400%;
        height: 100%;
        display: flex;
    }
    .caixa_slide_mobile > input{
        display: none;
    }
    .banner_mobile{
        
        width: 25%;
        height: 100%;
        padding: 0px 5px;
        transition: 0.5s;
        
    }
    .banner_mobile > img{
        width: 100%;
        height: 100%;
        border-radius: 5px;
        box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.764);
    }
    .noticia_game{
        height: 100%;
        margin-top: 10%;
        padding: 0 5px;
        border: 1px solid rgba(0, 0, 0, 0.248);
        border-radius: 10px;
        box-shadow: 1px 1px 7px gray;
    }
    .caixa_game{
        width: 100%;
        display: flex;
        align-items: center;
    }
    .img_game_not{
        height: 100%;
        width: 40%;
        margin: 0 ;
    }
    .img_game_not > img{
        height: 100%;
    }
    .caixa_game{
        height: 15%;
        margin-top: 10px;
        padding: 10px  0;
        
    }
    .h1{
        font-size: 2em;
    }
    .img_game_not{
        position: absolute;
        
        width: 30%;
        height: 90%;
        
        margin-right: 10px;
        border-radius: 5px;
    }
    
    .img_game_not > img{
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
    .titulo_not{
        position: relative;
        left: 31%;
        width: 70%;
        height: 100%;
        
        
    }
    .artigo{
        
        width: 100%;
    }
    .texto_noticia{
        
        width: 100%;
    }
    .data{
        position: absolute;
        right: 15px;
        font-size: 10px;
    }
    .texto_noticia > a >h1{
        width: 100%;
        font-size: 12px;
    }
    .texto_noticia > a >p{
        display: none;
    }
    .destaque{
        display: none;
    }
    .Playtation,.xbox,.nitendo,.pc{
        width: 100%;
        padding: 0px;
        height: 100%;
        
    }
    .caixa_playstation{
        width: 100%;
        margin: 0;
        display: block;
        height: 100%;
    
        
    }

    .not_paly{
        display: flex;
        width: 100%;
        height: 100px;
        margin-top: 10px;
        align-items: center;
        justify-content: space-between;
        padding: 0;
        
    }
    .img_not{
        width: 100px;
        height: 70px;
        
    }
    .h2_data{
        position: relative;
        
        width: 60%;
    }
    .h2_data > h2{
        font-size: 10px;
    }
    .h2_data > p{
        position: absolute;
        transform: translateY(-100%);
        left: 0%;
        font-size: 10px;
        margin-top: 17px;
    }

}